doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/tachyons/css/tachyons.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.bg-washed-orange.navy.w-75.center
    block content
    script(src='bundle.js')
