doctype html
html
  head
    title= title
<<<<<<< HEAD
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet")
=======
>>>>>>> use-rebass
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='bundle.js')
