doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendors/css/tachyons.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.w-100.sans-serif.avenir.mid-gray
    block content
    script(src='bundle.js')
